.row {
    background-color: #040409;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    color: #3f4ae4;
    font-family: 'Montserrat', sans-serif;
}