<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Achievements
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        Awarded Star of Excellence 2019, Computer Science and Engineering, B.E. Sathyabama University
                    </li>
                    <li>
                        Awarded Best Project Technovation 2019, Computer Science and Engineering, B.E. Sathyabama University
                    </li>
                </ul>
            </div>
          </div>
    </div>
</div>