<div class="row py-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
              Work Experience
            </div>
            <div class="card-body">
                <div class="row content py-2">
                    <div class="col">
                        <h3>Software Engineer Firmware</h3>
                        <p href="https://www8.hp.com/us/en/home.html" id="hp">Hewlett Packard Inc</p>
                        <p>Joined : 02 December, 2019</p>
                    </div>
                </div>

                <div class="row content py-2">
                    <div class="col">
                        <h3>Google Summer Of Code Mentor @ FOSSology</h3>
                        <p href="https://www.fossology.org/" id="fossology" >FOSSology</p>
                        <p>Start Date : 05 March, 2022</p>
                    </div>
                </div>
                
                <div class="row content py-2">
                    <div class="col">
                        <h3>Google Summer Of Code Mentor @ FOSSology</h3>
                        <p href="https://www.fossology.org/" id="fossology" >FOSSology</p>
                        <p>Start Date : 05 March, 2021</p>
                        <p>End Date : 05 September, 2021</p>
                    </div>
                </div>

                <div class="row content py-2">
                    <div class="col">
                        <h3>Open Source Software Developer</h3>
                        <p href="https://www.fossology.org/" id="fossology" >FOSSology</p>
                        <p>Open Source Contributor Since 2019</p>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>