<div class="row landingSection">
    <div class="col-2"></div>
    <div class="col">
        <app-landing-section></app-landing-section>
    </div>
    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <app-work-experience></app-work-experience>
        <app-internship-experience></app-internship-experience>
        <app-project-experience></app-project-experience>
        <app-achievements></app-achievements>
        <app-community></app-community>
    </div>
    <div class="col-2"></div>
</div>