<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
              Internship Experience
            </div>
            <div class="card-body">
                <h3>Google Summer Of Code - 2019</h3>
                <p>
                    Google Summer of Code is Global program that helps student to connect with Open Source, free software and technology
                    related organization to write code and work on their open projects to make the internet a better place.
                    Students need to submit their project proposal and work on the project for 3 months.
                    In this program, I have submitted a proposal for making an agent into tool Fossology to integrate Microsoft's Clearly Defined into it. 
                </p>
                <p>
                    My project was to an agent into fossology to integrate Clearly Defined API. Clearly Defined are library archive of
                    copyright and license for Open Source Tools and most important they helps in collecting these information to reduce
                    the lack of license and informations.
                </p>
                <p>
                    <span class="link">Project Link : </span>
                    <a href="https://summerofcode.withgoogle.com/archive/2019/projects/5527519191629824" target="_blank" rel="noopener noreferrer">https://summerofcode.withgoogle.com/archive/2019/projects/5527519191629824</a>
                </p>
            </div>
          </div>
    </div>
</div>