<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
              Project Experience
            </div>
            <div class="card-body">
                <div class="row content py-2">
                    <div class="col">
                        <h3>FOSSology.org</h3>
                        <p>Google Summer Of Code Mentor</p>
                        <p>Mentored for multiple project.</p>
                        <ul>
                            <li>
                                Spasht - Contributing back to Microsoft clearly defined
                            </li>
                            <li>
                                Reuse - Understanding and adapting reuse standard for clearly defined
                            </li>
                            <li>
                                REST API's - Developing new REST API's for fossologyUI project
                            </li>
                            <li>
                                PHP, JavaScript, HTML, CSS, REACT, Rest API 
                            </li>
                            <li>
                                Postgres (basic use)
                            </li>
                            <li>
                                Terminals (Ubuntu)
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row content py-2">
                    <div class="col">
                        <h3>FOSSology.org</h3>
                        <p>FossologyUI - A new ui to fossology on React</p>
                        <p>Google Summer of Code Mentor</p>
                        <ul>
                            <li>
                                Wireframing, UI research Angular and React, Architecture, API's
                            </li>
                            <li>
                                PHP, JavaScript, HTML, CSS, REACT
                            </li>
                            <li>
                                Postgres (basic use)
                            </li>
                            <li>
                                Terminals (Ubuntu)
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row content py-2">
                    <div class="col">
                        <h3>FOSSology.org</h3>
                        <p>Spasht - Integration of ClearlyDefined with FOSSology</p>
                        <ul>
                            <li>
                                PHP, C, C++, JavaScript, HTML, CSS
                            </li>
                            <li>
                                Postgres (basic use)
                            </li>
                            <li>
                                Twig
                            </li>
                            <li>
                                Terminals (Ubuntu)
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row content py-2">
                    <div class="col">
                        <h3>Sathyabama Institute of Science and Technology</h3>
                        <p>IntelliDoctor - AI based Medical Assistant</p>
                        <ul>
                            <li>
                                Kotlin, xml
                            </li>
                            <li>
                                Google Firebase
                            </li>
                            <li>
                                Android
                            </li>
                        </ul>
                        <p>
                            IntelliDoctor is an Artificial Intelligence (AI) based personal medical assistant. In an attempt to provide
                            smart healthcare and making it more accessible, this is an interactive application that analyses
                            symptoms to diagnose, predict medical conditions, generate treatments and suggestions based on
                            the inputs provided by the user.
                        </p>
                    </div>
                </div>
                
            </div>
          </div>
    </div>
</div>