<div class="row py-2">
    <div class="col-md-2"></div>
    <div class="col">
        <div class="row py-2">
            <div class="col">
                <a class="navbar-brand" href="#">
                    <span class="icon">
                        <mat-icon fontSet="material-icons-outlined" class="align-middle arrow">
                            arrow_back_ios
                        </mat-icon>
                        /
                        <mat-icon fontSet="material-icons-outlined" class="align-middle arrow">
                            arrow_forward_ios
                        </mat-icon>
                    </span>
                </a>
            </div>
            <div class="col text-center">
                Copyright 2022 Vivek Kumar, India.
            </div>
            <div class="col text-end">
                Reach Me: vivek@fossboy.com
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
