<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Community
            </div>
            <div class="card-body">
                <p>
                    Influencer.
                </p>
                <p>@ Google Crowdource Cummunity.</p>
                <p>
                    We Make The Internet A Better Place.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Worktez
            </div>
            <div class="card-body">
                <p>
                    Technology support.
                </p>
                <p>@ Worktez Developers community</p>
                <p>
                    We Transform The Way You Work.
                </p>
            </div>
        </div>
    </div>
</div>